.App {
  text-align: center;
}

body {
  background: #fff;
}

ul {
  list-style-type: none;
}

.nav a {
  color: #2e86c1;
  font-weight: 600;
  text-decoration: none;
  margin: 0 5vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.see-my-projects {
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-container {
  width: 100vw;
  height: 100%;
  padding: 25vh 0;
  margin: 0 auto;
  /* background-color: black; */
  background-image: url("./Images/Iceland.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.see-my-projects {
  text-decoration: none;
  font-size: 40px;
  line-height: 200px;
}

.brand-statement {
  font-size: 20px;
  width: 60%;
  margin: 20px auto;
}

.home-container a:visited {
  color: black;
  opacity: 1;
}

.home-container a:hover {
  text-shadow: 2px 2px #2e86c1;
}

.project-container {
  border: 2px solid black;
  margin: 20px;
  max-height: 60vh;
  background-color: #fff;
}

.project-title {
  text-align: left;
  font-size: 48px;
}

.project-content {
  width: 50vw;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.project-desc {
  margin: 20px;
}

.project-img-container {
  width: 25vw;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.project-img {
  max-width: 25vw;
  max-height: 40vh;
  margin: 0;
  padding: 0;
}
.project-title {
  margin: 0;
  text-align: center;
}

.project-links {
  margin: 10px;
}

.project-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #222;
}

.project-container button {
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #282c34;
}

.footer-text {
  text-align: center;
  color: #fff;
}

.page-view {
  /* margin-bottom: 8vh; */
}

.link-list .fa-envelope,
.link-list .fa-github,
.link-list .fa-linkedin {
  font-size: 6em;
  margin: 20px auto;
}

.link-list i {
  text-decoration: none;
  color: #111;
}

.link-list i:hover {
  color: #2e86c1;
}

.profile-pic {
  max-width: 80vw;
  max-height: 40vh;
  padding-top: 10px;
  margin: 0 auto;
}

/* ------------------- Mobile CSS Settings ------------------------ */
@media only screen and (max-width: 600px) {
  .project-container {
    margin: 4vh auto;
    max-height: none;
    border: none;
  }

  .project-title {
    font-size: 24px;
  }

  .project-content {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 16px;
  }

  .project-img-container {
    min-width: 80%;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
  }

  .project-img {
    max-width: 80vw;
    max-height: 40vh;
  }

  .link-list .fa-envelope,
  .link-list .fa-github,
  .link-list .fa-linkedin {
    font-size: 4em;
    margin: 10px auto;
  }

  .brand-statement {
    font-size: 16px;
    width: 90%;
  }

  .profile-pic {
    width: 100%;
  }
}
