.App {
  text-align: center;
}

body {
  background: #fff;
}

ul {
  list-style-type: none;
}

.nav a {
  /* color: #2e86c1; */
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  margin: 0 5vw;
}

.nav a:hover {
  color: #2e86c1;
}

.App {
  padding-top: 10vh;
}

.App-header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-container {
  width: 100vw;
  height: 40%;
  padding: 23vh 0;
  position: fixed;
  margin: 0 auto;
  background-image: url("./Images/Iceland.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.see-my-projects {
  text-decoration: none;
  font-size: 44px;
  line-height: 200px;
}

.brand-statement {
  font-size: 32px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.home-container a:visited {
  color: black;
  opacity: 1;
}

.home-container a:hover {
  /* text-shadow: 2px 2px #2e86c1; */
  text-shadow: 2px 2px #fff;
}

.project-list {
  margin-top: 10vh;
}

.project-container {
  border: 2px solid black;
  margin: 20px;
  max-height: 60vh;
  background-color: #fff;
}

.project-title {
  text-align: left;
  font-size: 48px;
}

.project-content {
  width: 50vw;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.project-desc {
  margin: 20px;
}

.project-img-container {
  width: 25vw;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.project-img {
  max-width: 25vw;
  max-height: 40vh;
  margin: 0;
  padding: 0;
}
.project-title {
  margin: 0;
  text-align: center;
}

.project-links {
  margin: 10px;
}

.project-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #222;
}

.project-container button {
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #282c34;
}

.footer-text {
  text-align: center;
  color: #fff;
}

.page-view {
  margin-bottom: 8vh;
}

ul.link-list {
  width: 80vw;
  margin: 0 auto;
  padding: 0;
}

.link-list .fa-envelope,
.link-list .fa-github,
.link-list .fa-linkedin {
  font-size: 6em;
  margin: 20px auto;
}

.link-list i {
  text-decoration: none;
  color: #111;
}

.link-list i:hover {
  color: #2e86c1;
}

.about-me {
  font-size: 18px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.profile-pic {
  max-width: 80vw;
  max-height: 40vh;
  padding-top: 10px;
  margin: 0 auto;
}

/* ------------------- Mobile CSS Settings ------------------------ */
@media only screen and (max-width: 600px) {
  .home-container {
    background-size: auto;
    background-position: center;
  }

  .project-container {
    margin: 4vh auto;
    max-height: none;
    border: none;
  }

  .project-title {
    font-size: 24px;
  }

  .project-content {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 16px;
  }

  .project-img-container {
    min-width: 80%;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
  }

  .project-img {
    max-width: 80vw;
    max-height: 40vh;
  }

  .link-list .fa-envelope,
  .link-list .fa-github,
  .link-list .fa-linkedin {
    font-size: 4em;
    margin: 10px auto;
  }

  .brand-statement {
    font-size: 16px;
    width: 90%;
    margin-bottom: 10px;
  }

  .about-me {
    font-size: 14px;
    width: 90%;
  }

  .profile-pic {
    width: 100%;
  }
}
